#Files made by running/building.
Makefile
GraLL2.make
premake.lua #premake.lua.def contains 'default', user can make his own.
*.pyo
*.pyc

premake.exe
GraLL2.sln
GraLL2.suo
GraLL2.vcproj*
GraLL2.ncb

obj
bin/debug/
bin/release/

#Files used by editors etc.
.vimrc
tags
*.blend1

#Unneeded data files.
*.log
*.mesh.xml
etc/local/*
local

#User files.
usr/*
!usr/Settings.ini

